PORT=3000

# Standar MSSQL
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD="password"
DB_NAME="nest_mssql_starter"

CLIENT_URL="http://localhost:3001"

# Connection String untuk Drizzle
DATABASE_URL="sqlserver://sa:password@localhost:1433;database=nest_employee_mssql;encrypt=true;trustServerCertificate=true"

CLIENT_URL="http://localhost:3001"

JWT_ACCESS_SECRET="xxxxxx"
JWT_REFRESH_SECRET="xxxxxx"
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECRET="xxxxxx"

CORS_ORIGINS=http://192.168.1.5:8100,http://localhost:8100,http://localhost:4200,capacitor://localhost,http://localhost

RATE_GLOBAL_TTL=900
RATE_GLOBAL_LIMIT=10000
RATE_LOGIN_TTL=600
RATE_LOGIN_LIMIT=10000

ENABLE_SWAGGER=true
REQUEST_ID_HEADER=x-request-id
